<div class="container mt-5 mb-5" >

    <h1 class="text-center">About</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda harum magnam laboriosam fugit inventore repellendus cupiditate perferendis minus pariatur vitae officiis, aut beatae doloremque? Illum commodi ipsa sint numquam repellendus.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates pariatur ex a accusantium porro reprehenderit eligendi vitae rem explicabo recusandae. Sunt ex inventore in placeat ea ipsam odit dolorem vitae.        Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda harum magnam laboriosam fugit inventore repellendus cupiditate perferendis minus pariatur vitae officiis, aut beatae doloremque? Illum commodi ipsa sint numquam repellendus. 
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda harum magnam laboriosam fugit inventore repellendus cupiditate perferendis minus pariatur vitae officiis, aut beatae doloremque? Illum commodi ipsa sint numquam repellendus. 
        <br/>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates pariatur ex a accusantium porro reprehenderit eligendi vitae rem explicabo recusandae. Sunt ex inventore in placeat ea ipsam odit dolorem vitae.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda harum magnam laboriosam fugit inventore repellendus cupiditate perferendis minus pariatur vitae officiis, aut beatae doloremque? Illum commodi ipsa sint numquam repellendus. 
        <br/>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda harum magnam laboriosam fugit inventore repellendus cupiditate perferendis minus pariatur vitae officiis, aut beatae doloremque? Illum commodi ipsa sint numquam repellendus. 
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda harum magnam laboriosam fugit inventore repellendus cupiditate perferendis minus pariatur vitae officiis, aut beatae doloremque? Illum commodi ipsa sint numquam repellendus. 
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates pariatur ex a accusantium porro reprehenderit eligendi vitae rem explicabo recusandae. Sunt ex inventore in placeat ea ipsam odit dolorem vitae.
        <br/>
    </p>
</div>